button img, .anchor-img {
  display: inline-block;
  width: 2.5rem;
  padding-right: 0.4rem;
}

select {
  width: 3.5rem !important;
}

a, a:hover {
  color: black !important;
}

mat-icon {
  position: absolute;
  bottom: 0.4rem;
}

.has-icon {
  padding-right: 2rem;
}
